Cloud Scrubs Mobile/Service References/CS_Reference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://9f6a5319047b434bb4ccf2e373c03cfd.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFRole" />
  <xs:import schemaLocation="http://9f6a5319047b434bb4ccf2e373c03cfd.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFRole" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFRole" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="PatientData" nillable="true" type="q3:BasicDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatientDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGeneralHistoryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="GenHistData" nillable="true" type="q4:GeneralHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGeneralHistoryDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeePatientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeePatientDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="SeePatientDataResult" nillable="true" type="q5:BasicDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasicDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="PatientData" nillable="true" type="q6:BasicDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasicDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeeGeneralHistoryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeeGeneralHistoryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="SeeGeneralHistoryDataResult" nillable="true" type="q7:GeneralHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGeneralHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="GenHistData" nillable="true" type="q8:GeneralHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGeneralHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAilmentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="AilData" nillable="true" type="q9:AilmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAilmentDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeeAilmentDetailsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeeAilmentDetailsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="SeeAilmentDetailsDataResult" nillable="true" type="q10:ArrayOfAilmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeeSpecificAilmentDetailsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowkey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeeSpecificAilmentDetailsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="SeeSpecificAilmentDetailsDataResult" nillable="true" type="q11:AilmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecificAilmentsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowkey" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CloudScrubsStorage" minOccurs="0" name="AilData" nillable="true" type="q12:AilmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecificAilmentsDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>